/* Fonts */
@font-face {
  src: url(../font/Open_Sans/OpenSans-Regular.ttf);
  font-family: Regular;
}
@font-face {
  src: url(../font/Open_Sans/OpenSans-Bold.ttf);
  font-family: Bold;
}
@font-face {
  src: url(../font/Open_Sans/OpenSans-Light.ttf);
  font-family: Light;
}

html, body {
  height: 100%;
  width: 100%;
  margin: 0px;
  padding: 0px;
  top: 0;
  bottom: 0;
  font-family: Regular;
}
.profile-background {
  margin: 0%;
  padding: 0%;
  background-image: url("../mg/bg1.gif");
  width: 100%;
  height: 100%;
  top: 0;
  bottom: 0;
  position: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  overflow: hidden;
  z-index: -1;
}
/*
.overlay-background {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  background: #353535;
  z-index: 1;
  opacity: .50;
}
*/
/* Header Bar */
header {
  width: 100%;
  height: 50px;
  background-color: #555555;
}
header h1 {
  font-size: ;
  font-family: ;
  position: absolute;
  float: left;
  margin: 0px;
  padding-left: 5px;
  color: #fff;
}
header ul {
  list-style-type: none;
  float: right;
}
header a {
  font-size: ;
  font-family: ;
  text-align: right;
  text-decoration: none;
  margin: 15px;
  padding: 5px;
  border-radius: 5px;
  background: #ff6565;
  color: #fff;

}
/* Main Content */
main img.circle-profile {
  width: 250px;
  height: 250px;
  border-radius: 50%;


}
.main-content {
  font-size: ;
  font-family: ;
  text-align: center;
  margin: auto;
  color: #ff6565;
  opacity: 100;
  z-index: 2;
}
.main-content h2 {
  font-size: ;
  font-family: ;
}
.main-content h3 {
  font-size: ;
  font-family: ;
}
.main-content p {
  font-size: ;
  font-family: ;
}
/* Button */
.button{
  list-style-type: none;
  text-align: center;
}
.projects {
  font-size: ;
  font-family: ;
  text-decoration: none;
  padding: 2%;
  border-radius: 5px;
  background: #ff6565;
  color: #fff;
}
/* Footer Bar */
