@font-face {
  src: url(../font/Open_Sans/OpenSans-Regular.ttf);
  font-family: Regular;
}
@font-face {
  src: url(../font/Open_Sans/OpenSans-Bold.ttf);
  font-family: Bold;
}
@font-face {
  src: url(../font/Open_Sans/OpenSans-Light.ttf);
  font-family: Light;
}

* {
  margin: 0;
  padding: 0;
}
header {
  color: #fff;
  background: #202020;
  display: flex;
  justify-content: space-between;
  align-items: center
}
header h1 {
  font-size: 25px;
  font-family: Bold;
  margin: 10px;
}
header ul {
  display: flex;
  list-style: none;
}
header a {
  font-family: Light;
  color: #fff;
  text-decoration: none;
  border-style: solid;
  border-radius: 100px;
  border-color: #fff;
  margin: 10px;
  padding: 5px;
}
header a:hover {
  color: #E10203;
}
main {
  background-image: url("../img/bg4.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 465px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  text-align: center;
}
main img {
  width: 200px;
  height: 200px;
}
.profile-circle {
  border-style: solid;
  border-color: #fff;
  border-radius: 100%;
}
.text {
  font-family: Light;
  color: #fff;
}
.projects button {
  border-radius: 100px;
  border-style: none;
  padding: 10px;
}
.projects a {
  text-decoration: none;
  color: #000;
}
.projects a:hover {
  color: #E10203;
}
footer {
  background: #202020;
  text-align: center;
}
footer p {
  font-size: 20px;
  font-family: Bold;
  color: #fff;
}
footer ul {
  padding: 5px 0px 5px 0px;
  display: flex;
  justify-content: center;
  list-style: none;
}
footer img {
  width: 20px;
  height: 20px;
  margin: 0px 10px 0px 10px;
}
